*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: default;
}

*::-moz-selection,
*::before::-moz-selection,
*::after::-moz-selection {
  background: transparent;
  color: inherit;
}

*::selection,
*::before::selection,
*::after::selection {
  background: transparent;
  color: inherit;
}

html,
body,
div#wrapper {
  width: 100%;
  height: 100%;
}

body {
  background: #000;
  font-family: "Syne Mono", monospace;
}

div#wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
}

div#wrapper div.calculator {
  background: #444;
  padding: 5px;
}

div.screen {
  background: #222;
  color: #fff;
  margin-bottom: 5px;
  padding: 10px;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 415px;
}

div.screen div.prev {
  opacity: 0.5;
  font-size: 25px;
}

div.screen div.curr {
  font-size: 50px;
}

div.screen div.prev,
div.screen div.curr {
  min-height: 1em;
}

div.screen div.prev::-moz-selection,
div.screen div.curr::-moz-selection {
  background: transparent;
  color: inherit;
}

div.screen div.prev::selection,
div.screen div.curr::selection {
  background: transparent;
  color: inherit;
}

div.buttons {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

div.buttons span {
  outline: none;
  cursor: pointer;
  color: #ddd;
  background: #333;
  border: 0;
  font-size: 50px;
  display: inline-block;
  line-height: 100px;
  text-align: center;
}

div.buttons span::-moz-selection {
  background: transparent;
  color: inherit;
}

div.buttons span::selection {
  background: transparent;
  color: inherit;
}

div.buttons span.triple {
  grid-column: span 3;
}

div.buttons span.small-font {
  font-size: 37.5px;
}

div.buttons span:hover {
  background: #3c3c3c;
}

div.buttons span:active {
  background: #2c2c2c;
}
