doctype html
html
  head
    title digital root calculator

    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", type="text/css",
         href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap")

    link(rel="stylesheet", type="text/css", href="./files/reset.min.css")
    link(rel="stylesheet", type="text/css", href="./files/style.css")

    script(type="text/javascript", src="./files/script.js", defer)

  body
    div#wrapper
      div.calculator
        div.screen
          div.prev(data-prev)
          div.curr(data-curr)

        div.buttons
          span(data-number) 7
          span(data-number) 8
          span(data-number) 9
          span(data-clear) C
          span(data-number) 4
          span(data-number) 5
          span(data-number) 6
          span(data-clear-entry) CE
          span(data-number) 1
          span(data-number) 2
          span(data-number) 3
          span(data-add) +
          span(data-number) 0
          span.triple.small-font(data-dr) digital root
